.App {
    .warning-msg,
    .success-msg {
        padding: 5px 5%;
        border-radius: 5px;
        overflow-wrap: anywhere;
    }

    .warning-msg {
        color: #d8000c;
        background-color: #ffbaba;

        border: 2px solid #d8000c;
    }

    .success-msg {
        color: #270;
        background-color: #dff28f;

        border: 2px solid #270;
    }
}
