@import './global/variables.scss';

.empty-day {
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    height: 44px;
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
    .empty-day {
        height: 95px;
    }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
    .empty-day {
        height: 100px;
    }
}
