.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        width: 80%;
        text-align: center;

        .form-group {
            display: flex;
            flex-direction: column;

            label {
                text-align: left;
            }

            input {
                line-height: 0;
                padding: 5px;
            }
        }

        input[type='submit'] {
            width: 70%;
        }
    }

    .no-account-register {
        margin-top: 20px;
    }
}
