@import './global/variables.scss';

.todo-update {
    padding-top: 30px;

    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    form {
        width: 90%;
        margin: 0 auto;

        .form-group {
            display: flex;
            flex-direction: column;
            margin: 25px 0;
        }

        input[type='submit'] {
            padding: 0 15px;
        }
    }

    & > a {
        width: 90%;
        display: block;
        margin: 20px auto;
    }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
    .todo-create {
        form {
            width: 80%;
        }

        & > a {
            width: 80%;
        }
    }
}
