@import './global/variables.scss';

.todo-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    position: relative;
    padding: 20px 0;

    .title,
    .date,
    .weather,
    .notification {
        margin-bottom: 12px;
    }

    .title {
        padding-right: 50px;

        &:nth-child(1) {
            overflow-wrap: anywhere;
        }
    }

    .weather {
        span {
            text-transform: capitalize;
        }
    }

    .sm-heading {
        font-weight: 700;
        margin-right: 10px;
    }

    .date input {
        width: 150px;
    }

    .icons i,
    .close {
        &:hover {
            cursor: pointer;
        }
    }

    .icons {
        i {
            margin-right: 15px;
            font-size: 20px;
        }

        .priority * {
            stroke: #000;
            stroke-width: 100;
        }
    }

    .close {
        position: absolute;
        top: 20px;
        right: 8px;
    }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
    .todo-item {
        flex-direction: row;

        .sm-heading {
            display: none;
        }

        .title,
        .description,
        .date,
        .weather,
        .notification,
        .icons {
            width: 20%;
            margin-bottom: 0;
        }

        .title {
            padding-right: 0;
        }

        .date,
        .weather,
        .notification,
        .icons {
            text-align: center;
        }
    }
}
