@import './global/variables.scss';

.weekday {
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 0;

    &.medium {
        display: none;
    }
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
    .weekday {
        &.small {
            display: none;
        }

        &.medium {
            display: block;
        }
    }
}
