@import './variables.scss';

.navigation {
    position: absolute;
    width: 80%;
    background-color: #fff;
    border: 2px solid #000;
    height: 100%;
    top: 0px;
    left: -100%;
    z-index: 50;
    transition: all 0.6s;

    &.appear {
        left: 0;
    }

    .logo {
        text-decoration: none;

        h1 {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;
            color: #000;
        }
    }

    .nav-list {
        list-style: none;
        a {
            text-decoration: none;

            .nav-item {
                padding: 20px 15%;

                svg {
                    font-size: 30px;
                    margin-right: 30px;
                }

                span {
                    font-size: 20px;
                    vertical-align: bottom;
                }
            }

            * {
                color: #000;
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, tablet)) {
    .navigation {
        width: 70%;

        h1 {
            font-size: 65px;
        }

        &.appear {
            left: -25px;
        }

        .nav-list {
            a {
                .nav-item {
                    padding: 30px 20%;

                    svg {
                        font-size: 50px;
                        margin-right: 50px;
                    }

                    span {
                        font-size: 35px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: map-get($breakpoints, desktop)) {
    .navigation {
        position: fixed;
        left: 0;
        max-width: 80px;
        border-top: none;
        border-bottom: none;
        overflow: hidden;

        h1 {
            display: none;
        }

        .nav-list {
            width: 400%;

            a {
                width: 100%;

                .nav-item {
                    position: relative;
                    padding: 20px 5%;

                    i {
                        width: 85px;

                        svg {
                            font-size: 35px;
                            margin-right: 40px;
                        }
                    }

                    span {
                        font-size: 20px;
                        vertical-align: bottom;
                    }
                }
            }
        }

        &.hover {
            max-width: 300px;
        }
    }
}
